@import 'reset';
@import 'font-awesome/css/font-awesome.min.css';
$green: #75BD5C;
$lightgray: #EFEFEF;

html{
  background: $lightgray;
  font-family: Arial, 'Helvetica', sans-serif;
}

.content-wrapper{
  margin: 0 auto;
  width: 960px;

  @media only screen and (max-width: 768px){
    width: 768px;
  }
}

.logo-wrapper{
  .logo-image{
    display: block;
  }

  .logo-tag{
    color: $green;
    font-weight: bold;
  }

  .logo-tag-sub{
    font-style: italic;
    color: black;
  }
}

/*********** HOME PAGE ************/

#home{
  display: none;
  text-align: center;

  .logo-wrapper{
    margin: 50px 0 60px -60px;

    .logo-image{
      display: block;
      margin: 0 auto;
    }

    .logo-tag{
      color: $green;
      font-size: 3.6em;
      position: relative;
      font-weight: bold;
      left: 95px;
    }

    .logo-tag-sub{
      font-style: italic;
      font-size: 0.4em;
      color: black;
      left: -12px;
      position: relative;
    }
  }

  .button{
    width: 180px;
    height: 150px;
    font-size: 1.5em;
    background: white;
    margin: 0 20px 20px;
    border: 0;
    font-weight: bold;
    border-radius: 4px;

    @media only screen and (max-width: 768px){
      margin: 0 25px 50px;
      width: 260px;
      height: 200px;
    }
  }

  .fa{
    font-size: 2em;
    margin-bottom: 15px;
    color: $green;
  }

  .shakes-wrapper{
    font-weight: bold;
    margin-bottom: 60px;

    .shakes-date{
      font-size: 1.3em;
      text-transform: uppercase;
      color: $green;
    }

    .shakes-served{
      font-size: 2em;
      text-transform: uppercase;
      margin: 15px auto 5px;
    }

    .shakes-counter{
      font-size: 3em;
      font-style: italic;
      letter-spacing: 2px;
    }
  }
}

/*********** END HOME PAGE ************/

/********** SHAKE ORDER PAGE **********/

#orders{
  // display: none;

  .logo-wrapper{
    margin: 50px 0 60px 0;

    .logo-image{
      display: block;
      width: 175px;
    }
    .logo-tag{
      font-size: 1.25em;
      position: relative;
      left: 30px;
    }
    .logo-tag-sub{
      font-size: 0.4em;
      left: -4px;
      position: relative;
    }
  }

  .content-wrapper{
      @media only screen and (max-width: 768px){
        width: 700px;
      }
  }

  .order{
    width: 49%;
    border-radius: 4px;
    background-color: white;
    box-sizing: border-box;
    padding: 20px;
    position: relative;
    &.first-order{
      float: left;
      margin: 0 15px 20px 0;
    }
    &.second-order{
      float: right;
    }
    .done{
      position: absolute;
      right: 20px;
      top: 17px;
      .fa-check{
        font-size: 2em;
      }
    }
    .cancel{
      clear: both;
      background: #BC0505;
      border: 0;
      border-radius: 4px;
      text-align: center;
      padding: 20px;
      color: white;
      font-size: 20px;
      font-weight: 600;
      display: block;
      margin: 40px auto 10px;
    }
    .order-instructions-box{
      min-height: 15px;
    }
  }

  .order-queue{
    clear: both;
    padding-top: 20px;
    border-top: 2px solid black;

    .order{
      width: 18.4%;
      height: 170px;
      float: left;
      margin-right: 19px;
      &:last-of-type{
        margin-right: 0;
      }
    }

    .flavor{
      font-size: 1em;
    }

    .done, .subhead, .order-instructions-box, .cancel, .base, .add-ons, .boosts{
      display: none;
    }
  }

  .subhead{
    font-size: 1.3em;
    margin: 20px auto;
    font-weight: bold;
    text-decoration: underline;
  }

  .order-title{
    font-size: 1.2em;
    margin: 15px auto;
    font-weight: bold;
  }

  .order-name{
    font-size: 1.7em;
    font-weight: bold;
    color: $green;
  }

  .order-selection{
    font-weight: normal;
  }
}

//SLIDER
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}