@import 'reset';
@import 'font-awesome/css/font-awesome.min.css';
$green: #75BD5C;
$lightgray: #EFEFEF;
$lightgrey: #C1C1C1;
$green: #6CC24A;
$darkgrey: #7E847D;
$white: #FFFFFF;
$black: #000000;
$gold: #FEBF16;
$darkgreen: #1D7102;
$red: #BC0505;

html{
  background: $lightgray;
  font-family: Arial, 'Helvetica', sans-serif;
}

.content-wrapper{
  margin: 0 auto;
  width: 960px;

  @media only screen and (max-width: 768px){
    width: 768px;
  }
}

.logo-wrapper{
  .logo-image{
    display: block;
  }

  .logo-tag{
    color: $green;
    font-weight: bold;
  }

  .logo-tag-sub{
    font-style: italic;
    color: black;
  }
}

button{
  &:hover{
    cursor: pointer;
  }
}

/*********** HOME PAGE ************/

#home{
  // display: none;
  text-align: center;

  .logo-wrapper{
    margin: 30px 0 40px -60px;

    .logo-image{
      display: block;
      margin: 0 auto;
    }

    .logo-tag{
      color: $green;
      font-size: 3.6em;
      position: relative;
      font-weight: bold;
      left: 95px;
    }

    .logo-tag-sub{
      font-style: italic;
      font-size: 0.4em;
      color: black;
      left: -12px;
      position: relative;
    }
  }

  &:not(.open) {
    .nav{
      pointer-events: none;
    }
  }

  .nav{
    width: 180px;
    height: 150px;
    font-size: 1.3em;
    background: white;
    margin: 0 20px 20px;
    border: 0;
    font-weight: bold;
    border-radius: 4px;
  }

  .fa{
    font-size: 2em;
    margin-bottom: 15px;
    color: $green;
  }

  .shakes-wrapper{
    font-weight: bold;
    margin-bottom: 40px;

    .shakes-date{
      font-size: 1.3em;
      text-transform: uppercase;
      color: $green;
    }

    .shakes-served{
      font-size: 2em;
      text-transform: uppercase;
      margin: 15px auto 5px;
    }

    .shakes-counter{
      font-size: 3em;
      font-style: italic;
      letter-spacing: 2px;
    }
  }
}

/*********** END HOME PAGE ************/

#orders, #inventory, #break{
  .nav.break, .nav.inventory, .nav.home, .nav.orders{
    background: $gold;
    border: 0;
    border-radius: 4px;
    text-align: center;
    padding: 16px;
    width: 140px;
    color: white;
    font-weight: 600;
    margin-left: 15px;
    font-size: 0.85em;
  }
  .content-wrapper{
    @media only screen and (max-width: 768px){
      width: 740px;
    }
  }

  .logo-wrapper{
    margin: 25px 0 20px 0;
    position: relative;

    @media only screen and (max-width: 768px){
      margin: 40px 0;
    }

    .logo-image{
      display: block;
      width: 175px;
    }
    .logo-tag{
      font-size: 1.25em;
      position: relative;
      left: 30px;
    }
    .logo-tag-sub{
      font-size: 0.4em;
      left: -4px;
      position: relative;
    }
  }

  .orders-button-wrapper{
    position: absolute;
    right: 0;
    top: 0;
  }
}

/********** SHAKE ORDER PAGE **********/

#orders{
  display: none;

  .order{
    width: 48.5%;
    border-radius: 4px;
    background-color: white;
    box-sizing: border-box;
    padding: 20px;
    position: relative;

    @media only screen and (max-width: 768px){
      padding: 15px;;
    }

    &.first-order{
      float: left;
      margin: 0 15px 20px 0;
    }
    &.second-order{
      float: right;
    }
    .done{
      position: absolute;
      right: 20px;
      top: 17px;
      .fa-check{
        font-size: 2em;
      }
    }
    .cancel{
      clear: both;
      background: $red;
      border: 0;
      border-radius: 4px;
      text-align: center;
      padding: 20px;
      color: white;
      font-size: 20px;
      font-weight: 600;
      display: block;
      margin: 20px auto 10px;
    }
    .order-instructions-box{
      min-height: 15px;
    }
  }

  .order-queue{
    clear: both;
    padding-top: 20px;
    border-top: 2px solid black;

    .order{
      width: 18.4%;
      height: 110px;
      float: left;
      margin-right: 19px;
      background: #D6D5D5;
      &:last-of-type{
        margin-right: 0;
      }
      @media only screen and (max-width: 768px){
        width: 17.8%;
      }
    }

    .order-name{
      font-size: 1em;
    }

    .flavor{
      font-size: 0.8em;
      margin-bottom: 0;
    }

    .done, .subhead, .order-instructions-box, .cancel, .base, .add-ons, .boosts{
      display: none;
    }
  }

  .subhead{
    font-size: 1.3em;
    margin: 10px auto;
    font-weight: bold;
    text-decoration: underline;
  }

  .order-title{
    font-size: 1.2em;
    margin: 15px auto;
    font-weight: bold;
    line-height: 1.3;
    @media only screen and (max-width: 768px){
      font-size: 1em;
    }
  }

  .order-name{
    font-size: 1.7em;
    font-weight: bold;
    color: $green;
  }

  .order-selection{
    font-weight: normal;
  }

  /* The Modal (background) */
  .modal{
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 5%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 95%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content */
  .modal-content{
    position: relative;
    background-color: #FEFEFE;
    margin: auto;
    padding: 0;
    border: 1px solid #888888;
    width: 90%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }

  /* The Close Button */
  .close{
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover, .close:focus{
    color: #000000;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-header{
    padding: 2px 16px;
    // background-color: #5cb85c;
    color: white;
  }

  .modal-body{
    padding: 5px 22px 16px 16px;
    p{
      color: $green;
      font-weight: bold;
      font-size: 1.5em;
      margin-bottom: 10px;
    }
    textarea{
      width: 98%;
      font-size: 0.85em;
      height: 200px;
      border: 1px solid gray;
      font-family: Arial, 'Helvetica', Sans-serif;
      padding: 5px;
    }
    .notify-user{
      background: $green;
      border: 0;
      border-radius: 4px;
      text-align: center;
      padding: 16px;
      width: 100%;
      color: white;
      font-weight: 600;
      font-size: 1em;
      margin-top: 10px;
    }
  }


  .modal-footer{
    padding: 2px 16px;
    // background-color: #5cb85c;
    color: white;
  }
}

#break{
  display: none;
}

#inventory{
  display: none;

  .customization-container{
    width: 960px;
    margin: 0 auto;
  }

  h1{
    color: $green;
    font-weight: bold;
    font-size: 1.3em;

    li{
      font-weight: normal;
      color: black;
      font-size: 0.85em;
    }
    label{
      margin-left: 5px;
    }
  }

  input#submitMissing{
    background: $green;
    border: 0;
    border-radius: 4px;
    text-align: center;
    padding: 16px;
    width: 300px;
    color: white;
    font-weight: 600;
    font-size: 1em;
    margin-top: 10px;
    float: right;
    margin-right: 10px;
    -webkit-appearance: none;

    &:hover{
      cursor: pointer;
    }

    @media only screen and (max-width: 768px){
      margin-right: 10px;
    }
  }

  .customization-panel{
    width: 49%;
    border-radius: 4px;
    background-color: white;
    box-sizing: border-box;
    padding: 20px;
    position: relative;
    margin-bottom: 15px;
    min-height: 230px;
    line-height: 1.3;

    &:nth-of-type(odd){
      float: left;
    }

    &:nth-of-type(even){
      float: right;
    }
  }
}

//SLIDER
.switch{
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 20px;
}

.closed{
  &:before{
    content:'CLOSED';
  }
  &.open:before{
    content:'OPEN';
  }
  display: block;
  position: relative;
  top: 44px;
  font-size: 1.1em;
  font-weight: bold;
}

.switch input{
  display: none;
}

.slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: -3px;
  right: 0;
  bottom: 0;
  background-color: #CCCCCC;
  -webkit-transition: 0.4s;
          transition: 0.4s;
}

.slider:before{
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
          transition: 0.4s;
}

input:checked + .slider{
  background-color: #2196F3;
}

input:focus + .slider{
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before{
  -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
          transform: translateX(26px);
}

/* Rounded sliders */
.slider.round{
  border-radius: 34px;
}

.slider.round:before{
  border-radius: 50%;
}