@import 'reset';
@import 'font-awesome/css/font-awesome.min.css';
$green: #75BD5C;
$lightgray: #EFEFEF;

html{
	background: $lightgray;
}

.content-wrapper{
  margin: 0 auto;
  width: 960px;
  text-align: center;
  @media only screen and (max-width: 768px){
    width: 768px;
  }
}

#home{
  font-family: Arial, 'Helvetica', sans-serif;
  .logo{
    margin: 50px 0 60px -60px;

    .logo-image{
      display: block;
      margin: 0 auto;
    }
    .logo-tag{
      color: $green;
      font-size: 3.6em;
      position: relative;
      font-weight: bold;
      left: 78px;
    }
    .logo-tag-sub{
      font-style: italic;
      font-size: 0.4em;
      color: black;
      left: -12px;
      position: relative;
    }
  }

  .button{
    width: 180px;
    height: 150px;
    font-size: 1.5em;
    background: white;
    margin: 0 20px 20px;
    border: 0;
    font-weight: bold;
    border-radius: 5px;

    @media only screen and (max-width: 768px){
	    margin: 0 25px 50px;
	    width: 260px;
	    height: 200px;
    }
  }

  .fa{
    font-size: 2em;
    margin-bottom: 15px;
    color: $green;
  }

  .shakes{
    font-weight: bold;
    margin-bottom: 60px;
    .shakes-date{
      font-size: 1.3em;
      text-transform: uppercase;
      color: $green;
    }
    .shakes-served{
      font-size: 2em;
      text-transform: uppercase;
      margin: 15px auto 5px;
      // font-style: italic;
    }
    .shakes-counter{
      font-size: 3em;
      font-style: italic;
      letter-spacing: 2px;
    }
  }
}
